.Header--main {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    color: rgba(62, 64, 82, 90%);
    align-items: center;
    object-fit: cover;
    position: absolute;
    z-index: 3;
    font-size: calc(0.4vw + 0.5vh + 0.5vmin);
    transition: 1s all ease;
    font-weight: bold ;
}

.Name {
    margin-left: 30px;
    font-size: calc(0.7vw + 0.7vh + 0.7vmin);
}

.Buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    cursor: pointer;
    height: 100%;
    font-weight: bold;
}

.Buttons div{
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: center;
}

.Buttons div:hover{
    transform: scale(1.1);
    transition: 1s all ease;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 5%;
    
  }
  li{
    display: flex;
    width: 10VW;
  }
  .Header--main a{
    text-decoration: none;
    transition: .5s;
    transform-style: preserve-3d;
  }
  .notReadyButtons a:before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(title);
    position: absolute;
    height: 4vh;
    width: 8vw;
    border: 2px solid var(--mainColor);
    color: var(--complementaryColor);
    text-shadow: 3px 3px 4px var(--complementaryColor);
    transition: .5s;
    transform-origin: right;
    transform: translateX(-100%) rotateY(90deg);
  }
  .notReadyButtons a:after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(title);
    position: absolute;
    height: 4vh;
    width: 8vw;
    border: 2px solid var(--complementaryColor);
    color: var(--mainColor);
    text-shadow: 3px 3px 4px var(--mainColor);
    transition: .5s;
    transform-origin: left;
    transform: translateX(0) rotateY(0deg);
  }
  .notReadyButtons a:hover:before{
    transform: translateX(0) rotateY(0deg);
    content: 'Coming soon';
  }
  .notReadyButtons a:hover:after{
    transform: translateX(100%) rotateY(90deg);
    content: 'Coming soon';
  }



  .ReadyButtons a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 4vh;
    width: 8vw;
    border: 2px solid var(--complementaryColor);
    color: var(--mainColor);
    text-shadow: 3px 3px 4px var(--mainColor);
  }

@media (max-width:760px) {
    .Buttons {
        width: 60%;
        font-size: 10px;
        margin-right: 5%;
    }
    .Name {
        font-size: 12px;
    }
    li {
        width: 20vw;
    }
    a:before{
        height: 7vh;
        width: 16vw;
      }
      a:after{
        height: 5vh;
        width: 16vw;
      }
}
