.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  
}

body {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  object-fit: cover;
  width: calc(3vw + 3vh + 4vmin);
  height: calc(1vw + 1vh + 1vmin);
  position: fixed;
  z-index: 1;
  opacity: .7;
  transition: 1s all ease;
}

.pointerUp:hover {
  transform: scale(1.2);
}

.pointerDown:hover {
  transform: scale(1.2);
  transform: rotate(180deg);
}

.pointerUp {
  bottom:0;
}

.pointerDown {
  top:0;
  transform: rotate(180deg);
}

@media (max-width:760px) {

}